<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed>
    <!-- <ion-row>
      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let idx = index">
        <ion-label>Hola, item {{ idx + 1 }}</ion-label>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12"
                *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/shapes.svg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>
              Card Subtitle
            </ion-card-subtitle>
            <ion-card-title>
              Card Title
            </ion-card-title>
            <ion-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus in ab mollitia suscipit ullam voluptatem. Molestias repellat cum ipsam vitae fugiat numquam rem, reprehenderit quasi et. Eum officia ullam dolore.</ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
