<ion-app>
  <ion-split-pane when="md" contentId="mainContent">
    
    <ion-menu side="start" menuId="mainMenu" contentId="mainContent" type="push">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title class="ion-text-center">
            <ion-label>Menú Principal</ion-label>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let c of componentesOpts | async">
            <ion-item [routerLink]="c.redirectTo">
              <ion-icon slot="start" [name]="c.icon"></ion-icon>
              <ion-label>{{ c.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="mainContent"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
