<app-header titulo="Fabs"></app-header>

<ion-content>

  <ion-fab slot="fixed" 
            vertical="bottom"
            horizontal="end"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
       <ion-fab-button><ion-icon color="facebook" name="logo-facebook"></ion-icon></ion-fab-button>
       <ion-fab-button><ion-icon color="twitter" name="logo-twitter"></ion-icon></ion-fab-button>
       <ion-fab-button><ion-icon color="instagram" name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button><ion-icon color="google" name="logo-google"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon color="vimeo" name="logo-vimeo"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon color="youtube" name="logo-youtube"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let d of data; let idx = index">
      <ion-label>Item {{ idx + 1 }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Este es el footer</ion-title>
  </ion-toolbar>
</ion-footer>
