<app-header [titulo]="titulo"></app-header>

<ion-content>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin" color="light"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur amet molestiae id, voluptatibus natus quas iste maxime aspernatur aperiam. Ipsa quisquam cupiditate voluptates. Nisi blanditiis saepe commodi adipisci eligendi debitis.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam dolorum error quos sint quam quaerat. Itaque cumque maiores placeat deleniti, quos illo laborum officia corporis recusandae dolores porro quas voluptatibus.</ion-card-content>
  </ion-card>
</ion-content>
